*{
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    font-family: "Poppins";
    background-color: orange;
    font-family: "Times New Roman", Times, serif;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
