*{
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    font-family: Verdana ;
    background-color: #FB7700;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

main{
    background-color: #680000;
}
