*{
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    font-family: Verdana ;
    background-color: #8D5343;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

nav a {
    outline: none;
    text-decoration: none;
    color: #402E32;
    background-color: #FFF7EF;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
    border-radius: 10px;
}

h1{
    display: flex;
    justify-content: center;
    color: #FFF7EF;
    background-color: #402E32 ;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h2{
    display:flex;
    background-color: #AF8A68;
    color: #402E32;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

main {
    background-color: #402E32;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
table{
    background-color: #AF8A68;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
th{
    background-color: #AF8A68;
    padding: 5px;
}
th a {
    outline: none;
    text-decoration: none;
    color: #FFF7EF;
    background-color: #AF8A68;
}
th {
    outline: none;
    text-decoration: none;
    color: #402E32;
    background-color: #AF8A68;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;

}

.btn{
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #402E32;
    background-color: #FFF7EF;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 150px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.infoTR th{
    padding: 10px;
    padding-bottom: 15px;
}

.complet{
    background-color: red;
    color: #FFF7EF;
    border-radius: 5px;
    padding: 5px;
}

.incomplet{
    background-color: green;
    color: #FFF7EF;
    border-radius: 5px;
    padding: 5px;
    width: 85px;
}

.row{
    display: flex;
    flex-direction: row;
}

.desc {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #AF8A68;
}

.desc a{
    background-color: #AF8A68;
}