{% extends 'base.html.twig' %}

{% block title %}Ajouter formateur{% endblock %}

{% block body %}
    <h1>Ajouter formateur</h1>
    <div class="container">
        <div class="formContainer">
            {{ form_start(formAddFormateur) }}
                {{form_row(formAddFormateur.nom) }}
                {{form_row(formAddFormateur.prenom) }}
            {{ form_end(formAddFormateur) }}
        </div>
    </div>
    
{% endblock %}
